@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-instrument: var(--font-instrument);
}
@theme {
  --color-background-100: #111111;
}

.div-center {
  @apply flex items-center justify-center;
}
